.featured-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: rem-calc(500);
  display:flex;
  align-items: center;
  text-transform: uppercase;
  @include breakpoint(medium) {
    height: rem-calc(400);
  }

  @include breakpoint(xlarge) {
    height: rem-calc(600);
  }
  .hero-title {
    flex:1 1 auto;
    color:#ffffff;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    @include breakpoint (small only) {
      margin-top:63px;
      font-size:3rem;
    }
  }
  .solid-bg {
    margin-top:0px;
  }
  .solid-bg-title {
    margin-bottom:0px;
    flex:1 1 auto;
    color:#000000;
    text-align: center;
    @include breakpoint (small only) {
      font-size:2rem;
    }
  }
}