.main-container {
  @include xy-grid-container;
  max-width: 60rem;
}

.main-grid {
  @include xy-grid();
  margin-top: 1rem;

  @include breakpoint(medium) {
    margin-top: 3rem;
  }

  &.sidebar-left {
    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content { order: 1; }
      .sidebar { order: 2; }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content { order: 2; }
      .sidebar { order: 1; }
    }
  }

  // Full width template
  .main-content-full-width {
    width:100%;
    margin-left:0px;
    margin-right:0px;
  }

  // Default template
  .main-content {
    @include breakpoint(small) {
      @include xy-cell(12);
    }
  }

  .sidebar {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(4);
      margin-top: 1rem;
    }

  }
}
p {
  color:$black;
}
h1 {
  color:$black;
}
.entry-content {
  max-width: 60em;
  text-align:center;
  @include breakpoint (medium) {
    margin: 0 auto;
    text-align:left;
    p {
    padding:30px;
    @include breakpoint (small only) {
      padding:10px;
    }
    }
  }

}
.main-grid.home {
  margin-top:0px;
}
.welcome-block {
  text-align:center;
  color:#ffffff;
  @include breakpoint (small) {
    padding:10px;
  }
  @include breakpoint (small) {
    padding:30px;
  }
}
.wp-caption > figcaption {
  text-align:center;
}
.services-wrap > a {
  width:100%;
}
.service-item {
  height:200px;
  display:flex;
  align-items: center;
  opacity:.8;
  transition: opacity .5s;
  &:hover{
    opacity:1;
    
  }
}
.edit-link {
  display:none;
}
.service-text {
  color:#ffffff;
  font-size:32px;
  line-height:40px;
  text-align:center;
  width:100%;
}
.services-wrap {
  display:flex;
  flex-direction:column;

}
.dropdown.menu > li {
  background-color:transparent;
  width:200px;
  text-align:center;
  @include breakpoint (medium only) {
    width:auto;
  }
  }
.dropdown.menu > li > a {
background-color:transparent;
}
.dropdown.menu.desktop-menu {
  display: flex;
  justify-content: space-evenly;
}
@media print, screen and (min-width: 40em) {
.top-bar .top-bar-left {
    flex: 0 1 auto;

}
}
.dropdown.menu li.is-dropdown-submenu-parent {
  @include breakpoint (large) {
    &::after {
      content: '';
      position: absolute;
      top: 20px;
      right: 40px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 8px solid #ffffff;
      
    }
    &:hover{
      &::after {
        transition: .7s ease;
        border-top: 8px solid #000000;
      }
    }
  }
}
.dropdown.menu > li.opens-left > .is-dropdown-submenu {
  @include breakpoint (medium only) {
    left: -59%;
  }
}
form {
  width:fit-content;
  margin:0 auto;
  #service-buttons {
    margin: 0 auto;
    input[type="radio"] {
      display:none; 
    }
    label {
      display:inline-block;
      width:220px;
      background-color:#38726C;
      padding: 10px 20px;
      color:#D7D9D7;
      font-size:16px;   
      margin-bottom:60px;
    }
    .radioactive {
      background-color:#834047;
    }
  }
}
.service-toggle {
  padding:20px;
  margin-bottom:40px;
}