.main-container {
  @include xy-grid-container;
  max-width: 60rem;
}

.main-grid {
  @include xy-grid();

  &.sidebar-left {
    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content { order: 1; }
      .sidebar { order: 2; }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content { order: 2; }
      .sidebar { order: 1; }
    }
  }

  // Full width template
  .main-content-full-width {
    width:100%;
    margin-left:0px;
    margin-right:0px;
  }

  // Default template
  .main-content {
    @include breakpoint(small) {
      @include xy-cell(12);
    }
  }

  .sidebar {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(4);
      margin-top: 1rem;
    }

  }
}
p {
  color:$black;
}
h1 {
  color:$black;
}
.entry-content {
  max-width: 100%;
  text-align:center;
  @include breakpoint (medium) {
    margin: 0px auto;
    text-align:left;
    p {
    padding:30px;
    @include breakpoint (small only) {
      padding:10px;
    }
    }
  }

}
.main-grid.home {
  margin-top:0px;
}
.welcome-block {
  text-align:center;
  color:#ffffff;
  text-transform: uppercase;
  @include breakpoint (small) {
    padding:10px;
  }
  @include breakpoint (small) {
    padding:30px;
  }
}
.wp-caption > figcaption {
  text-align:center;
}
.service-wrap > a {
  width:100%;
}
.service-item {
  height:200px;
  display:flex;
  align-items: center;
  opacity:.8;
  transition: opacity .5s;
  &:hover{
    opacity:1;
    
  }
}
.edit-link {
  display:none;
}
.service-text {
  color:#ffffff;
  font-size:32px;
  line-height:40px;
  text-align:center;
  width:100%;
  text-transform: uppercase;
  font-weight: 800;
}
.services-wrap {
  display:flex;
  flex-direction:column;

}
.dropdown.menu > li {
  background-color:transparent;
  width:200px;
  text-align:center;
  @include breakpoint (medium only) {
    width:auto;
  }
  }
.dropdown.menu > li > a {
background-color:transparent;
}
.dropdown.menu.desktop-menu {
  display: flex;
  justify-content: space-evenly;
}
@media print, screen and (min-width: 40em) {
.top-bar .top-bar-left {
    flex: 0 1 auto;

}
}
.dropdown.menu li.is-dropdown-submenu-parent {
  @include breakpoint (large) {
    &::after {
      content: '';
      position: absolute;
      top: 20px;
      right: 40px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 8px solid #ffffff;
      
    }
    &:hover{
      &::after {
        transition: .7s ease;
        border-top: 8px solid #000000;
      }
    }
  }
}
.dropdown.menu > li.opens-left > .is-dropdown-submenu {
  @include breakpoint (medium only) {
    left: -59%;
  }
}
.page {
  .main-grid {
    .main-content {
      max-width:1200px;
      margin:40px auto;
      p {
        font-size:24px;
        line-height:38.4px;
      }
    }
  }
}
.services {
  form {
    width:100%;
    margin:0 auto;
    max-width: 1200px;
    display: flex;
    @include breakpoint (small only) {
      width: 100%;
    }
    #service-buttons {
      margin: 0 auto;
      max-width: 1200px;
      display: flex;
      input[type="radio"] {
        display:none; 
      }
      label {
        display:inline-block;
        width:220px;
        transition: width .5s;
        background-color:#38726C;
        padding: 15px 20px;
        color:#FFFFFF;
        text-align:center;
        font-size:16px;
        @include breakpoint (small only) {
          width:100%;
          margin:5px 0;
          &:last-child {
            margin:5px 0 10px 0;
          }
          &:first-child {
            margin:0px 0 5px 0;
          }
        }
      }
      .radioactive {
        background-color:#834047;
        @include breakpoint (medium) {
          width:400px;
        }
      }
    }
  }
}
.service-toggle {
  background-color: #834047;
  padding:40px 20px;
  color:#FFFFFF;
  text-align:center;
  p {
    max-width:970px;
    margin:0 auto;
  }
  a {
    text-decoration: underline;
    color:$black;
  }
  .service-line {
    width:200px;
    height:0px;
    margin:0 auto;
    border-bottom: 2px solid #000000;
  }
  p {
    color:#FFFFFF;
  }
}
.services {
  hr {
    border-bottom:1px solid #1B1725;
    width:50%;
  }
}
.service-content {
  max-width:1200px;
  margin:20px auto;
}
p.copyright {
  width: 100%;
  display:block;
  text-align:center;
}
.foot-contact {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  padding:40px;
  max-width:1200px;
  margin:0 auto;
  justify-content: space-between;
  align-content:center;
  align-items:center;
  @include breakpoint (small only) {
    flex-direction: column;
  }
  .foot-callout {
    @include breakpoint (small only) {
      flex: 1 1 auto;
      margin-bottom:30px;
    }
    h4 {
      font-size: 1.4rem!important;
      margin-bottom: 0px!important;
    }
  }
  .foot-callout-button {
    flex:1 0 50%;
    text-align:center;
    @include breakpoint (small only) {
      flex: 1 1 auto;
    }
    a {
      font-size:1.4rem;
      margin-bottom:0px;
      border-radius: 8px;
      padding: 16px 40px;
    }
  }
}
.service-inner {
  background-color:#834047;
  color:#ffffff;
  display:flex;
  padding:40px;
  align-items:center;
  justify-content: center;
  p {
    color:#ffffff;
  }
  .service-copy {
    flex:1 1 auto;
  }
  .service-sidebar {
    flex: 1 0 30%;
  }
}
.page-template-page-service {
  main {
    margin-bottom:80px;
  }
}