.footer-container {
  @include xy-grid-container;
  border-top: 1px solid $medium-gray;
  margin-top: 0;
  background-color:$primary-color;
  color:$light-gray;
  max-width:100%;
}

.footer-grid {
  @include xy-grid;
  padding: 20px 0;
  justify-content: center;

  section {
    @include xy-cell();
    @include breakpoint(large) {
      @include xy-cell(auto);
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    li {
      text-align: center;
      flex:1 1 auto;
      @include breakpoint (small only) {
        width:100%;
      }
    }
  }
  a {
    color:#ffffff;
    text-transform: uppercase;
    &:hover {
      background-color:$dark-gray;
      transition: 0.7s ease;
    }
  }
  p {
    color: #ffffff;
    margin:0px;
  }
}
